<% if collector || editor %>
  <div class="form-actions">
    <% if editor %>
      <%= link_to "Edit This #{@presenter.human_readable_type}", main_app.edit_hyrax_parent_ephemera_folder_path(@parent_presenter, @presenter), class: 'btn btn-default' %>
      <%= link_to t('file_manager.link_text'), ContextualPath.new(@presenter, @parent_presenter).file_manager, class: 'btn btn-default' %>
      <%= link_to "Delete This #{@presenter.human_readable_type}", [main_app, @presenter], class: 'btn btn-danger pull-right', data: { confirm: "Delete this #{@presenter.human_readable_type}?" }, method: :delete %>
    <% end %>
  </div>
<% end %>
