<% provide :page_title, curation_concern_page_title(curation_concern) %>
<% provide :page_header do %>
  <h1 class="lower">Edit <%= curation_concern %></h1>
<% end %>

<div class="row">
  <div class="col-xs-12 col-sm-4">
    <%= media_display curation_concern.to_presenter %>
  </div>
  <div class="col-xs-12 col-sm-8">
    <div>
      <div id="descriptions_display">
        <h2>Descriptions </h2>
        <%= render "form", file_set: curation_concern %>
      </div>
    </div>
  </div><!-- /.col-sm-8 -->
</div><!-- /.row -->
