---
http_interactions:
- request:
    method: get
    uri: http://dlib.indiana.edu:9000/iucatextract?maximumRecords=1&operation=searchRetrieve&query=cql.serverChoice=2028405&recordSchema=marcxml&version=1.1
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - text/xml
    body:
      encoding: UTF-8
      string: |
        <?xml version="1.0"?>
        <zs:searchRetrieveResponse xmlns:zs="http://www.loc.gov/zing/srw/"><zs:version>1.1</zs:version><zs:numberOfRecords>1</zs:numberOfRecords><zs:records><zs:record><zs:recordSchema>info:srw/schema/1/marcxml-v1.1</zs:recordSchema><zs:recordPacking>xml</zs:recordPacking><zs:recordData><record xmlns="http://www.loc.gov/MARC21/slim">
        <!-- Length implementation at offset 22 should hold a digit. Assuming 0 -->
          <leader>00953 am a2200277Ma 4500</leader>
          <controlfield tag="001">ocm18920906</controlfield>
          <controlfield tag="003">OCoLC</controlfield>
          <controlfield tag="005">20021023000000.0</controlfield>
          <controlfield tag="008">860310s1956    enk           000 1 eng d</controlfield>
          <datafield tag="010" ind1=" " ind2=" ">
            <subfield code="a">   57000052</subfield>
          </datafield>
          <datafield tag="035" ind1=" " ind2=" ">
            <subfield code="a">(OCoLC)ocm18920906</subfield>
          </datafield>
          <datafield tag="040" ind1=" " ind2=" ">
            <subfield code="a">UBY</subfield>
            <subfield code="c">UBY</subfield>
            <subfield code="d">UKM</subfield>
          </datafield>
          <datafield tag="015" ind1=" " ind2=" ">
            <subfield code="a">GB56-12943</subfiel[...]
- request:
    method: get
    uri: http://dlib.indiana.edu:9000/iucatextract?maximumRecords=1&operation=searchRetrieve&query=cql.serverChoice=2028405&recordSchema=mods&version=1.1
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - text/xml
    body:
      encoding: UTF-8
      string: |
        <?xml version="1.0"?>
        <zs:searchRetrieveResponse xmlns:zs="http://www.loc.gov/zing/srw/"><zs:version>1.1</zs:version><zs:numberOfRecords>1</zs:numberOfRecords><zs:records><zs:record><zs:recordSchema>info:srw/schema/1/mods-v3.2</zs:recordSchema><zs:recordPacking>xml</zs:recordPacking><zs:recordData><mods xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://www.loc.gov/mods/v3" version="3.2" xsi:schemaLocation="http://www.loc.gov/mods/v3 http://www.loc.gov/standards/mods/v3/mods-3-2.xsd">
          <titleInfo>
            <nonSort>The </nonSort>
            <title>last resort</title>
            <subTitle>a novel</subTitle>
          </titleInfo>
          <name type="personal">
            <namePart>Johnson, Pamela Hansford</namePart>
            <namePart type="date">1912-1981</namePart>
            <role>
              <roleTerm authority="marcrelator" type="text">creator</roleTerm>
            </role>
          </name>
          <typeOfResource>text</typeOfResource>
          <originInfo>
            <place>
              <placeTerm type="code" authority="marccountry">enk</placeTerm>
            </place>
            <place>
              <placeTerm type="text">London</placeTerm>
            </place>
            <place>
              <placeTerm type="text">New York</placeTerm>
            </place>
            <publisher>Macmillan &amp; co., ltd.</publisher>
            <publisher>St. Martin's Press</publisher>
            <dateIssued>1956</dateIssued>
            <dateIssued encoding="marc" keyDate="yes">1956</dateIssued>
            <issuance>monographic</issuance>
          </originInfo>
          <language>
            <languageTerm authority="iso639-2b" type="code">eng</languageTerm>
          </language>
          <physicalDescription>
            <form authority="marcform">print</form>
            <extent>[4], 297, [2] p. ; 20 cm.</extent>
          </physicalDescription>
          <note displayLabel="statement of responsibility">by Pamela Hansford Johnson.</note>
          <note>Published in the u.S. under the title The sea and the wedding.</note>
          <classification authority="lcc">PZ3.J6363 Las</classification>
          <classification authority="ddc" edition="18">823.91</classification>
          <identifier type="lccn">57000052</identifier>
          <recordInfo>
            <recordContentSource authority="marcorg">UBY</recordContentSource>
            <recordCreationDate encoding="marc">860310</recordCreationDate>
            <recordChangeDate encoding="iso8601">20021023000000.0</recordChangeDate>
            <recordIdentifier source="OCoLC">ocm18920906</recordIdentifier>
          </recordInfo>
        </mods></zs:recordData><zs:recordPosition>1</zs:recordPosition></zs:record></zs:records></zs:searchRetrieveResponse>
  recorded_at: Thu, 15 Sep 2016 19:38:57 GMT
recorded_with: VCR 2.9.3
