---
http_interactions:
- request:
    method: get
    uri: https://bibdata.princeton.edu/bibliographic/4609321
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Etag:
      - W/"ac3235d3200931849105c0f599b858f3-gzip"
      Status:
      - 200 OK
      Content-Type:
      - application/xml; charset=utf-8
    body:
      encoding: ASCII-8BIT
      string: "<record xmlns='http://www.loc.gov/MARC21/slim'><leader>01890cam a22003855a
        4500</leader><controlfield tag='001'>4609321</controlfield><controlfield tag='005'>20130603094805.0</controlfield><controlfield
        tag='008'>051027s1456    gw            000 0 lat d</controlfield><datafield
        ind1=' ' ind2=' ' tag='040'><subfield code='a'>NjP</subfield><subfield code='c'>NjP</subfield></datafield><datafield
        ind1='1' ind2=' ' tag='041'><subfield code='a'>lat</subfield><subfield code='h'>hebgrc</subfield></datafield><datafield
        ind1='0' ind2=' ' tag='130'><subfield code='a'>Bible.</subfield><subfield
        code='l'>Latin.</subfield><subfield code='s'>Vulgate.</subfield><subfield
        code='f'>1456.</subfield></datafield><datafield ind1='1' ind2='0' tag='245'><subfield
        code='a'>Biblia Latina.</subfield></datafield><datafield ind1='1' ind2='3'
        tag='246'><subfield code='a'>Gutenberg Bible</subfield></datafield><datafield
        ind1='1' ind2='3' tag='246'><subfield code='a'>Mazarin Bible</subfield></datafield><datafield
        ind1='1' ind2='3' tag='246'><subfield code='a'>Mazarine Bible</subfield></datafield><datafield
        ind1=' ' ind2=' ' tag='260'><subfield code='a'>[Mainz :</subfield><subfield
    [...]
- request:
    method: get
    uri: https://bibdata.princeton.edu/bibliographic/4609321/jsonld
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Etag:
      - W/"904d3943a35150b88de7dde0d6bb14ff"
      Status:
      - 200 OK
      Content-Type:
      - application/ld+json; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"@context":"http://bibdata.princeton.edu/context.json","@id":"http://bibdata.princeton.edu/bibliographic/4609321","title":{"@value":"Biblia
        Latina","@language":"lat"},"description":"2 v. (324; 319 leaves) ; 40.5 x
        28.8 cm. (fol.)","language":"lat","format":"Book","note":["Commonly known
        in English as Gutenberg Bible, formerly known as Mazarin or Mazarine Bible.","WHS
        copy has 12 leaves supplied from other copies and 5 leaves supplied in facsimile;
        the 17 leaves are vol. I fo. 1 and vol. II fo. 1, 17, 25, 46, 70, 149, 155,
        156, 191, 217, 235, 268, 270, 275, 279, and 305.","WHS also has fragment ([1]
        leaf ; 32.7 x 21 cm.) from Ezekiel ch. 34."],"publisher":"[Mainz : Johann
        Gutenberg and Johann Fust, before August 1456].","printer":["Gutenberg, Johann,
        1397?-1468"],"binder":["Fogel, Johannes, active 1455-1462"],"former_owner":["Predigerkirche
        (Erfurt, Germany)","Brinley, George, 1817-1875","Ives, Brayton, 1840-1914","Cole,
        Hamilton","Ellsworth, James W. (James William), 1849-1925"],"created":"1456-01-01T00:00:00Z","date":"1456"}'
  recorded_at: Tue, 29 Mar 2016 20:39:30 GMT
- request:
    method: get
    uri: http://bibdata.princeton.edu/context.json
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 302
      message: Found
    headers:
      Location:
      - https://bibdata.princeton.edu/context.json
      Content-Type:
      - text/html; charset=iso-8859-1
    body:
      encoding: UTF-8
      string: |
        <!DOCTYPE HTML PUBLIC "-//IETF//DTD HTML 2.0//EN">
        <html><head>
        <title>302 Found</title>
        </head><body>
        <h1>Found</h1>
        <p>The document has moved <a href="https://bibdata.princeton.edu/context.json">here</a>.</p>
        <hr>
        <address>Apache/2.4.7 (Ubuntu) Server at bibdata.princeton.edu Port 80</address>
        </body></html>
  recorded_at: Tue, 29 Mar 2016 20:39:31 GMT
- request:
    method: get
    uri: https://bibdata.princeton.edu/context.json
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Last-Modified:
      - Mon, 14 Mar 2016 23:24:49 GMT
      Etag:
      - '"72eb-52e0a9641d240"'
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: |
        {
          "@context": {
            "id" : "@id",
            "dc": "http://purl.org/dc/elements/1.1/",
            "dcterms": "http://purl.org/dc/terms/",
            "mrel": "http://id.loc.gov/vocabulary/relators/",
            "rdf": "http://www.w3.org/1999/02/22-rdf-syntax-ns#",
            "rdfs": "http://www.w3.org/2000/01/rdf-schema#",

            "contributor": {"@id": "dc:contributor"},
            "coverage": {"@id": "dc:coverage"},
            "creator": {"@id": "dc:creator"},
            "date": {"@id": "dc:date"},
            "description": {"@id": "dc:description"},
            "format": {"@id": "dc:format"},
            "identifier": {"@id": "dc:identifier"},
            "language": {"@id": "dc:language"},
            "publisher": {"@id": "dc:publisher"},
            "relation": {"@id": "dc:relation"},
            "rights": {"@id": "dc:rights"},
            "source": {"@id": "dc:source"},
            "subject": {"@id": "dc:subject"},
            "type": {"@id": "dc:type"},

            "created": {"@id": "dcterms:created"},
            "extent": {"@id": "dcterms:extent"},
            "modified": {"@id": "dcterms:modified"},
            "title": {"@id": "dcterms:title"},

            "abridger": {
              "@id": "mrel:abr"
            },
            "actor": {
              "@id": "mrel:act"
            },
            "adapter": {
              "@id": "mrel:adp"
            },
            "addressee": {
              "@id": "mrel:rcp"
            },
            "analyst": {
              "@id": "mrel:anl"
            },
            "animator": {
              "@id": "mrel:anm"
            },
            "annotator": {
              "@id": "mrel:ann"
            },
            "appellant": {
              "@id": "mrel:apl"
            },
            "appellee": {
              "@id": "mrel:ape"
            },
            "applicant": {
              "@id": "mrel:app"
            },
            "architect": {
              "@id": "mrel:arc"
            },
            "arranger": {
              "@id": "mrel:arr"
            },
            "art_copyist": {
              "@id": "mrel:acp"
            },
            "art_director": {
              "@id": "mrel:adi"
            },
            "artist": {
              "@id": "mrel:art"
            },
            "artistic_director": {
              "@id": "mrel:ard"
            },
            "assignee": {
              "@id": "mrel:asg"
            },
            "associated_name": {
              "@id": "mrel:asn"
            },
            "attributed_name": {
              "@id": "mrel:att"
            },
            "auctioneer": {
              "@id": "mrel:auc"
            },
            "author": {
              "@id": "mrel:aut"
            },
            "author_in_quotations_or_text_abstracts": {
              "@id": "mrel:aqt"
            },
            "author_of_afterword_colophon_etc": {
              "@id": "mrel:aft"
            },
            "author_of_dialog": {
              "@id": "mrel:aud"
            },
            "author_of_introduction_etc": {
              "@id": "mrel:aui"
            },
            "autographer": {
              "@id": "mrel:ato"
            },
            "bibliographic_antecedent": {
              "@id": "mrel:ant"
            },
            "binder": {
              "@id": "mrel:bnd"
            },
            "binding_designer": {
              "@id": "mrel:bdd"
            },
            "blurb_writer": {
              "@id": "mrel:blw"
            },
            "book_designer": {
              "@id": "mrel:bkd"
            },
            "book_producer": {
              "@id": "mrel:bkp"
            },
            "bookjacket_designer": {
              "@id": "mrel:bjd"
            },
            "bookplate_designer": {
              "@id": "mrel:bpd"
            },
            "bookseller": {
              "@id": "mrel:bsl"
            },
            "braille_embosser": {
              "@id": "mrel:brl"
            },
            "broadcaster": {
              "@id": "mrel:brd"
            },
            "calligrapher": {
              "@id": "mrel:cll"
            },
            "cartographer": {
              "@id": "mrel:ctg"
            },
            "caster": {
              "@id": "mrel:cas"
            },
            "censor": {
              "@id": "mrel:cns"
            },
            "choreographer": {
              "@id": "mrel:chr"
            },
            "cinematographer": {
              "@id": "mrel:cng"
            },
            "client": {
              "@id": "mrel:cli"
            },
            "collection_registrar": {
              "@id": "mrel:cor"
            },
            "collector": {
              "@id": "mrel:col"
            },
            "collotyper": {
              "@id": "mrel:clt"
            },
            "colorist": {
              "@id": "mrel:clr"
            },
            "commentator": {
              "@id": "mrel:cmm"
            },
            "commentator_for_written_text": {
              "@id": "mrel:cwt"
            },
            "compiler": {
              "@id": "mrel:com"
            },
            "complainant": {
              "@id": "mrel:cpl"
            },
            "complainant_appellant": {
              "@id": "mrel:cpt"
            },
            "complainant_appellee": {
              "@id": "mrel:cpe"
            },
            "composer": {
              "@id": "mrel:cmp"
            },
            "compositor": {
              "@id": "mrel:cmt"
            },
            "conceptor": {
              "@id": "mrel:ccp"
            },
            "conductor": {
              "@id": "mrel:cnd"
            },
            "conservator": {
              "@id": "mrel:con"
            },
            "consultant": {
              "@id": "mrel:csl"
            },
            "consultant_to_a_project": {
              "@id": "mrel:csp"
            },
            "contestant": {
              "@id": "mrel:cos"
            },
            "contestant_appellant": {
              "@id": "mrel:cot"
            },
            "contestant_appellee": {
              "@id": "mrel:coe"
            },
            "contestee": {
              "@id": "mrel:cts"
            },
            "contestee_appellant": {
              "@id": "mrel:ctt"
            },
            "contestee_appellee": {
              "@id": "mrel:cte"
            },
            "contractor": {
              "@id": "mrel:ctr"
            },
            "copyright_claimant": {
              "@id": "mrel:cpc"
            },
            "copyright_holder": {
              "@id": "mrel:cph"
            },
            "corrector": {
              "@id": "mrel:crr"
            },
            "correspondent": {
              "@id": "mrel:crp"
            },
            "costume_designer": {
              "@id": "mrel:cst"
            },
            "court_governed": {
              "@id": "mrel:cou"
            },
            "court_reporter": {
              "@id": "mrel:crt"
            },
            "cover_designer": {
              "@id": "mrel:cov"
            },
            "curator": {
              "@id": "mrel:cur"
            },
            "dancer": {
              "@id": "mrel:dnc"
            },
            "data_contributor": {
              "@id": "mrel:dtc"
            },
            "data_manager": {
              "@id": "mrel:dtm"
            },
            "dedicatee": {
              "@id": "mrel:dte"
            },
            "dedicator": {
              "@id": "mrel:dto"
            },
            "defendant": {
              "@id": "mrel:dfd"
            },
            "defendant_appellant": {
              "@id": "mrel:dft"
            },
            "defendant_appellee": {
              "@id": "mrel:dfe"
            },
            "degree_granting_institution": {
              "@id": "mrel:dgg"
            },
            "degree_supervisor": {
              "@id": "mrel:dgs"
            },
            "delineator": {
              "@id": "mrel:dln"
            },
            "depicted": {
              "@id": "mrel:dpc"
            },
            "depositor": {
              "@id": "mrel:dpt"
            },
            "designer": {
              "@id": "mrel:dsr"
            },
            "director": {
              "@id": "mrel:drt"
            },
            "dissertant": {
              "@id": "mrel:dis"
            },
            "distribution_place": {
              "@id": "mrel:dbp"
            },
            "distributor": {
              "@id": "mrel:dst"
            },
            "donor": {
              "@id": "mrel:dnr"
            },
            "draftsman": {
              "@id": "mrel:drm"
            },
            "dubious_author": {
              "@id": "mrel:dub"
            },
            "editor": {
              "@id": "mrel:edt"
            },
            "editor_of_compilation": {
              "@id": "mrel:edc"
            },
            "editor_of_moving_image_work": {
              "@id": "mrel:edm"
            },
            "electrician": {
              "@id": "mrel:elg"
            },
            "electrotyper": {
              "@id": "mrel:elt"
            },
            "enacting_jurisdiction": {
              "@id": "mrel:enj"
            },
            "engineer": {
              "@id": "mrel:eng"
            },
            "engraver": {
              "@id": "mrel:egr"
            },
            "etcher": {
              "@id": "mrel:etr"
            },
            "event_place": {
              "@id": "mrel:evp"
            },
            "expert": {
              "@id": "mrel:exp"
            },
            "facsimilist": {
              "@id": "mrel:fac"
            },
            "field_director": {
              "@id": "mrel:fld"
            },
            "film_distributor": {
              "@id": "mrel:fds"
            },
            "film_director": {
              "@id": "mrel:fmd"
            },
            "film_editor": {
              "@id": "mrel:flm"
            },
            "film_producer": {
              "@id": "mrel:fmp"
            },
            "filmmaker": {
              "@id": "mrel:fmk"
            },
            "first_party": {
              "@id": "mrel:fpy"
            },
            "forger": {
              "@id": "mrel:frg"
            },
            "former_owner": {
              "@id": "mrel:fmo"
            },
            "funder": {
              "@id": "mrel:fnd"
            },
            "geographic_information_specialist": {
              "@id": "mrel:gis"
            },
            "honoree": {
              "@id": "mrel:hnr"
            },
            "host": {
              "@id": "mrel:hst"
            },
            "host_institution": {
              "@id": "mrel:his"
            },
            "illuminator": {
              "@id": "mrel:ilu"
            },
            "illustrator": {
              "@id": "mrel:ill"
            },
            "inscriber": {
              "@id": "mrel:ins"
            },
            "instrumentalist": {
              "@id": "mrel:itr"
            },
            "interviewee": {
              "@id": "mrel:ive"
            },
            "interviewer": {
              "@id": "mrel:ivr"
            },
            "inventor": {
              "@id": "mrel:inv"
            },
            "issuing_body": {
              "@id": "mrel:isb"
            },
            "judge": {
              "@id": "mrel:jud"
            },
            "jurisdiction_governed": {
              "@id": "mrel:jug"
            },
            "laboratory": {
              "@id": "mrel:lbr"
            },
            "laboratory_director": {
              "@id": "mrel:ldr"
            },
            "landscape_architect": {
              "@id": "mrel:lsa"
            },
            "lead": {
              "@id": "mrel:led"
            },
            "lender": {
              "@id": "mrel:len"
            },
            "libelant": {
              "@id": "mrel:lil"
            },
            "libelant_appellant": {
              "@id": "mrel:lit"
            },
            "libelant_appellee": {
              "@id": "mrel:lie"
            },
            "libelee": {
              "@id": "mrel:lel"
            },
            "libelee_appellant": {
              "@id": "mrel:let"
            },
            "libelee_appellee": {
              "@id": "mrel:lee"
            },
            "librettist": {
              "@id": "mrel:lbt"
            },
            "licensee": {
              "@id": "mrel:lse"
            },
            "licensor": {
              "@id": "mrel:lso"
            },
            "lighting_designer": {
              "@id": "mrel:lgd"
            },
            "lithographer": {
              "@id": "mrel:ltg"
            },
            "lyricist": {
              "@id": "mrel:lyr"
            },
            "manufacture_place": {
              "@id": "mrel:mfp"
            },
            "manufacturer": {
              "@id": "mrel:mfr"
            },
            "marbler": {
              "@id": "mrel:mrb"
            },
            "markup_editor": {
              "@id": "mrel:mrk"
            },
            "medium": {
              "@id": "mrel:med"
            },
            "metadata_contact": {
              "@id": "mrel:mdc"
            },
            "metal_engraver": {
              "@id": "mrel:mte"
            },
            "minute_taker": {
              "@id": "mrel:mtk"
            },
            "moderator": {
              "@id": "mrel:mod"
            },
            "monitor": {
              "@id": "mrel:mon"
            },
            "music_copyist": {
              "@id": "mrel:mcp"
            },
            "musical_director": {
              "@id": "mrel:msd"
            },
            "musician": {
              "@id": "mrel:mus"
            },
            "narrator": {
              "@id": "mrel:nrt"
            },
            "onscreen_presenter": {
              "@id": "mrel:osp"
            },
            "opponent": {
              "@id": "mrel:opn"
            },
            "organizer": {
              "@id": "mrel:orm"
            },
            "originator": {
              "@id": "mrel:org"
            },
            "other": {
              "@id": "mrel:oth"
            },
            "owner": {
              "@id": "mrel:own"
            },
            "panelist": {
              "@id": "mrel:pan"
            },
            "papermaker": {
              "@id": "mrel:ppm"
            },
            "patent_applicant": {
              "@id": "mrel:pta"
            },
            "patent_holder": {
              "@id": "mrel:pth"
            },
            "patron": {
              "@id": "mrel:pat"
            },
            "performer": {
              "@id": "mrel:prf"
            },
            "permitting_agency": {
              "@id": "mrel:pma"
            },
            "photographer": {
              "@id": "mrel:pht"
            },
            "plaintiff": {
              "@id": "mrel:ptf"
            },
            "plaintiff_appellant": {
              "@id": "mrel:ptt"
            },
            "plaintiff_appellee": {
              "@id": "mrel:pte"
            },
            "platemaker": {
              "@id": "mrel:plt"
            },
            "praeses": {
              "@id": "mrel:pra"
            },
            "presenter": {
              "@id": "mrel:pre"
            },
            "printer": {
              "@id": "mrel:prt"
            },
            "printer_of_plates": {
              "@id": "mrel:pop"
            },
            "printmaker": {
              "@id": "mrel:prm"
            },
            "process_contact": {
              "@id": "mrel:prc"
            },
            "producer": {
              "@id": "mrel:pro"
            },
            "production_company": {
              "@id": "mrel:prn"
            },
            "production_designer": {
              "@id": "mrel:prs"
            },
            "production_manager": {
              "@id": "mrel:pmn"
            },
            "production_personnel": {
              "@id": "mrel:prd"
            },
            "production_place": {
              "@id": "mrel:prp"
            },
            "programmer": {
              "@id": "mrel:prg"
            },
            "project_director": {
              "@id": "mrel:pdr"
            },
            "proofreader": {
              "@id": "mrel:pfr"
            },
            "provider": {
              "@id": "mrel:prv"
            },
            "publication_place": {
              "@id": "mrel:pup"
            },
            "publishing_director": {
              "@id": "mrel:pbd"
            },
            "puppeteer": {
              "@id": "mrel:ppt"
            },
            "radio_director": {
              "@id": "mrel:rdd"
            },
            "radio_producer": {
              "@id": "mrel:rpc"
            },
            "recording_engineer": {
              "@id": "mrel:rce"
            },
            "recordist": {
              "@id": "mrel:rcd"
            },
            "redaktor": {
              "@id": "mrel:red"
            },
            "renderer": {
              "@id": "mrel:ren"
            },
            "reporter": {
              "@id": "mrel:rpt"
            },
            "repository": {
              "@id": "mrel:rps"
            },
            "research_team_head": {
              "@id": "mrel:rth"
            },
            "research_team_member": {
              "@id": "mrel:rtm"
            },
            "researcher": {
              "@id": "mrel:res"
            },
            "respondent": {
              "@id": "mrel:rsp"
            },
            "respondent_appellant": {
              "@id": "mrel:rst"
            },
            "respondent_appellee": {
              "@id": "mrel:rse"
            },
            "responsible_party": {
              "@id": "mrel:rpy"
            },
            "restager": {
              "@id": "mrel:rsg"
            },
            "restorationist": {
              "@id": "mrel:rsr"
            },
            "reviewer": {
              "@id": "mrel:rev"
            },
            "rubricator": {
              "@id": "mrel:rbr"
            },
            "scenarist": {
              "@id": "mrel:sce"
            },
            "scientific_advisor": {
              "@id": "mrel:sad"
            },
            "screenwriter": {
              "@id": "mrel:aus"
            },
            "scribe": {
              "@id": "mrel:scr"
            },
            "sculptor": {
              "@id": "mrel:scl"
            },
            "second_party": {
              "@id": "mrel:spy"
            },
            "secretary": {
              "@id": "mrel:sec"
            },
            "seller": {
              "@id": "mrel:sll"
            },
            "set_designer": {
              "@id": "mrel:std"
            },
            "setting": {
              "@id": "mrel:stg"
            },
            "signer": {
              "@id": "mrel:sgn"
            },
            "singer": {
              "@id": "mrel:sng"
            },
            "sound_designer": {
              "@id": "mrel:sds"
            },
            "speaker": {
              "@id": "mrel:spk"
            },
            "sponsor": {
              "@id": "mrel:spn"
            },
            "stage_director": {
              "@id": "mrel:sgd"
            },
            "stage_manager": {
              "@id": "mrel:stm"
            },
            "standards_body": {
              "@id": "mrel:stn"
            },
            "stereotyper": {
              "@id": "mrel:str"
            },
            "storyteller": {
              "@id": "mrel:stl"
            },
            "supporting_host": {
              "@id": "mrel:sht"
            },
            "surveyor": {
              "@id": "mrel:srv"
            },
            "teacher": {
              "@id": "mrel:tch"
            },
            "technical_director": {
              "@id": "mrel:tcd"
            },
            "television_director": {
              "@id": "mrel:tld"
            },
            "television_producer": {
              "@id": "mrel:tlp"
            },
            "thesis_advisor": {
              "@id": "mrel:ths"
            },
            "transcriber": {
              "@id": "mrel:trc"
            },
            "translator": {
              "@id": "mrel:trl"
            },
            "type_designer": {
              "@id": "mrel:tyd"
            },
            "typographer": {
              "@id": "mrel:tyg"
            },
            "university_place": {
              "@id": "mrel:uvp"
            },
            "videographer": {
              "@id": "mrel:vdg"
            },
            "voice_actor": {
              "@id": "mrel:vac"
            },
            "witness": {
              "@id": "mrel:wit"
            },
            "wood_engraver": {
              "@id": "mrel:wde"
            },
            "woodcutter": {
              "@id": "mrel:wdc"
            },
            "writer_of_accompanying_material": {
              "@id": "mrel:wam"
            },
            "writer_of_added_commentary": {
              "@id": "mrel:wac"
            },
            "writer_of_added_text": {
              "@id": "mrel:wat"
            },
            "writer_of_added_lyrics": {
              "@id": "mrel:wal"
            },
            "writer_of_supplementary_textual_content": {
              "@id": "mrel:wst"
            },
            "writer_of_introduction": {
              "@id": "mrel:win"
            },
            "writer_of_preface": {
              "@id": "mrel:wpr"
            },
            "abridger": {
              "@id": "mrel:abr"
            },
            "actor": {
              "@id": "mrel:act"
            },
            "adapter": {
              "@id": "mrel:adp"
            },
            "addressee": {
              "@id": "mrel:rcp"
            },
            "analyst": {
              "@id": "mrel:anl"
            },
            "animator": {
              "@id": "mrel:anm"
            },
            "ann[...]
[...]
