---
http_interactions:
- request:
    method: get
    uri: http://dlib.indiana.edu:9000/iucatextract?maximumRecords=1&operation=searchRetrieve&query=cql.serverChoice=ABE9721&recordSchema=marcxml&version=1.1
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - text/xml
    body:
      encoding: UTF-8
      string: |
        <?xml version="1.0"?>
        <zs:searchRetrieveResponse xmlns:zs="http://www.loc.gov/zing/srw/"><zs:version>1.1</zs:version><zs:numberOfRecords>1</zs:numberOfRecords><zs:records><zs:record><zs:recordSchema>info:srw/schema/1/marcxml-v1.1</zs:recordSchema><zs:recordPacking>xml</zs:recordPacking><zs:recordData><record xmlns="http://www.loc.gov/MARC21/slim">
        <!-- Length implementation at offset 22 should hold a digit. Assuming 0 -->
          <leader>03532mcm a2200529 a 4500</leader>
          <controlfield tag="001">ABE9721BM</controlfield>
          <controlfield tag="008">911028s19909999pl mum         n  0 pol d</controlfield>
          <datafield tag="035" ind1=" " ind2=" ">
            <subfield code="a">(InU)ABE9721BM</subfield>
          </datafield>
          <datafield tag="035" ind1=" " ind2=" ">
            <subfield code="a">(OCoLC)ocm24634242</subfield>
          </datafield>
          <datafield tag="040" ind1=" " ind2=" ">
            <subfield code="a">IUL</subfield>
            <subfield code="c">IUL</subfield>
          </datafield>
          <datafield tag="047" ind1=" " ind2=" ">
            <subfield code="a">mz</subfield>
            <subfield code="a">st</subfield>
   [...]
- request:
    method: get
    uri: http://dlib.indiana.edu:9000/iucatextract?maximumRecords=1&operation=searchRetrieve&query=cql.serverChoice=ABE9721&recordSchema=mods&version=1.1
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - text/xml
    body:
      encoding: UTF-8
      string: |
        <?xml version="1.0"?>
        <zs:searchRetrieveResponse xmlns:zs="http://www.loc.gov/zing/srw/"><zs:version>1.1</zs:version><zs:numberOfRecords>1</zs:numberOfRecords><zs:records><zs:record><zs:recordSchema>info:srw/schema/1/mods-v3.2</zs:recordSchema><zs:recordPacking>xml</zs:recordPacking><zs:recordData><mods xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://www.loc.gov/mods/v3" version="3.2" xsi:schemaLocation="http://www.loc.gov/mods/v3 http://www.loc.gov/standards/mods/v3/mods-3-2.xsd">
          <titleInfo>
            <nonSort>The </nonSort>
            <title>facsimil[e] edition of the autograph of Fryderyk Chopin's works</title>
            <subTitle>from the Collection Fryderyk Chopin Society in Warsaw</subTitle>
          </titleInfo>
          <titleInfo type="uniform">
            <title>Selections. 1990</title>
          </titleInfo>
          <titleInfo type="alternative">
            <title>Facsimil edition of the autograph of Fryderyk Chopin's works</title>
          </titleInfo>
          <name type="personal">
            <namePart>Chopin, Fr&#xE9;d&#xE9;ric</namePart>
            <namePart type="date">1810-1849</namePart>
            <role>
              <roleTerm authority="marcrelator" type="text">creator</roleTerm>
            </role>
          </name>
          <name type="corporate">
            <namePart>Towarzystwo im. Fryderyka Chopina</namePart>
          </name>
          <typeOfResource>notated music</typeOfResource>
          <originInfo>
            <place>
              <placeTerm type="code" authority="marccountry">pl</placeTerm>
            </place>
            <place>
              <placeTerm type="text">Warsaw</placeTerm>
            </place>
            <place>
              <placeTerm type="text">Tokyo</placeTerm>
            </place>
            <publisher>Fryderyk Chopin Society</publisher>
            <publisher>Green Peace Publishers</publisher>
            <dateIssued>c1990-</dateIssued>
            <dateIssued encoding="marc" keyDate="yes">1990</dateIssued>
            <issuance>monographic</issuance>
          </originInfo>
          <language>
            <languageTerm authority="iso639-2b" type="code">pol</languageTerm>
          </language>
          <physicalDescription>
            <form authority="marcform">print</form>
            <extent>   v. of music : facsims. ; 36 x 44 cm.</extent>
          </physicalDescription>
          <tableOfContents>1. Mazurka in F minor, op. 7-3 -- Torio [sic] in G-minor, for pianoforte, violin and cello, op. 8 -- Study in E major, op. 10-3 -- Study in G-flat major, op. 10-5 -- Study in E-flat-minor, op. 10-6 -- Study in F-major, op. 10-8 -- Study in F-minor, op. 10-9 -- Study in A-flat-major, op. 10-10 -- Study in C-major, op. 10-1 -- Study in A-minor, op. 10-2 -- Study in C-sharp minor, op. 10-4 -- Study in C-major, op. 10-7 -- Study in E-flat-major, op. 10- 11 -- Study in C minor, op. 10-12 -- Impromptu[...]
