---
http_interactions:
- request:
    method: get
    uri: http://dlib.indiana.edu:9000/iucatextract?maximumRecords=1&operation=searchRetrieve&query=cql.serverChoice=bhr9405&recordSchema=marcxml&version=1.1
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - text/xml
    body:
      encoding: UTF-8
      string: |
        <?xml version="1.0"?>
        <zs:searchRetrieveResponse xmlns:zs="http://www.loc.gov/zing/srw/"><zs:version>1.1</zs:version><zs:numberOfRecords>1</zs:numberOfRecords><zs:records><zs:record><zs:recordSchema>info:srw/schema/1/marcxml-v1.1</zs:recordSchema><zs:recordPacking>xml</zs:recordPacking><zs:recordData><record xmlns="http://www.loc.gov/MARC21/slim">
        <!-- Length implementation at offset 22 should hold a digit. Assuming 0 -->
          <leader>01161ncm a2200301 a 4500</leader>
          <controlfield tag="001">BHR9405BM</controlfield>
          <controlfield tag="008">830420r19471918it spb         n 1  N/A d</controlfield>
          <datafield tag="028" ind1="2" ind2="2">
            <subfield code="a">P.R.206</subfield>
            <subfield code="b">G. Ricordi</subfield>
          </datafield>
          <datafield tag="035" ind1=" " ind2=" ">
            <subfield code="a">(InU)BHR9405BM</subfield>
          </datafield>
          <datafield tag="035" ind1=" " ind2=" ">
            <subfield code="a">(OCoLC)ocm09430539</subfield>
          </datafield>
          <datafield tag="040" ind1=" " ind2=" ">
            <subfield code="a">BOS</subfield>
            <subfield code="c">BOS</[...]
- request:
    method: get
    uri: http://dlib.indiana.edu:9000/iucatextract?maximumRecords=1&operation=searchRetrieve&query=cql.serverChoice=bhr9405&recordSchema=mods&version=1.1
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - text/xml
    body:
      encoding: UTF-8
      string: |
        <?xml version="1.0"?>
        <zs:searchRetrieveResponse xmlns:zs="http://www.loc.gov/zing/srw/"><zs:version>1.1</zs:version><zs:numberOfRecords>1</zs:numberOfRecords><zs:records><zs:record><zs:recordSchema>info:srw/schema/1/mods-v3.2</zs:recordSchema><zs:recordPacking>xml</zs:recordPacking><zs:recordData><mods xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://www.loc.gov/mods/v3" version="3.2" xsi:schemaLocation="http://www.loc.gov/mods/v3 http://www.loc.gov/standards/mods/v3/mods-3-2.xsd">
          <titleInfo>
            <title>Fontane di Roma</title>
            <subTitle>poema sinfonico per orchestra</subTitle>
          </titleInfo>
          <titleInfo type="uniform">
            <title>Fontane di Roma</title>
          </titleInfo>
          <name type="personal">
            <namePart>Respighi, Ottorino</namePart>
            <namePart type="date">1879-1936</namePart>
            <role>
              <roleTerm authority="marcrelator" type="text">creator</roleTerm>
            </role>
          </name>
          <typeOfResource>notated music</typeOfResource>
          <originInfo>
            <place>
              <placeTerm type="code" authority="marccountry">it</placeTerm>
            </place>
            <place>
              <placeTerm type="text">Milano</placeTerm>
            </place>
            <place>
              <placeTerm type="text">New York</placeTerm>
            </place>
            <publisher>G. Ricordi</publisher>
            <dateIssued>1947, c1918</dateIssued>
            <dateIssued encoding="marc" keyDate="yes">1947</dateIssued>
            <issuance>monographic</issuance>
          </originInfo>
          <language>
            <languageTerm authority="iso639-2b" type="code">N/A</languageTerm>
          </language>
          <physicalDescription>
            <form authority="marcform">print</form>
            <extent>1 score (64 p.) ; 32 cm.</extent>
          </physicalDescription>
          <tableOfContents>La fontana di Valle Giulia all'alba -- La fontana del Tritone al mattino -- La fontana di Trevi al meriggio -- La fontana di Villa Medici al tramonto.</tableOfContents>
          <note displayLabel="statement of responsibility">di Ottorino Respighi.</note>
          <subject authority="lcsh">
            <topic>Symphonic poems</topic>
            <topic>Scores</topic>
          </subject>
          <identifier type="music plate">P.R.206 G. Ricordi</identifier>
          <identifier type="uri">http://purl.dlib.indiana.edu/iudl/variations/score/BHR9405</identifier>
          <location>
            <url usage="primary display" note="Available to authorized users of the Variations System">http://purl.dlib.indiana.edu/iudl/variations/score/BHR9405</url>
          </location>
          <recordInfo>
            <recordContentSource authority="marcorg">BOS</recordContentSource>
            <recordCreationDate encoding="marc">830420</recordCreationDate>
            <recordIdentifier>BHR9405BM</recordIdentifier>
          </recordInfo>
        </mods></zs:recordData><zs:recordPosition>1</zs:recordPosition></zs:record></zs:records></zs:searchRetrieveResponse>
  recorded_at: Fri, 16 Sep 2016 18:51:00 GMT
- request:
    method: get
    uri: http://dlib.indiana.edu:9000/iucatextract?maximumRecords=1&operation=searchRetrieve&query=cql.serverChoice=BHR9405&recordSchema=marcxml&version=1.1
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - text/xml
    body:
      encoding: UTF-8
      string: |
        <?xml version="1.0"?>
        <zs:searchRetrieveResponse xmlns:zs="http://www.loc.gov/z[...]
- request:
    method: get
    uri: http://dlib.indiana.edu:9000/iucatextract?maximumRecords=1&operation=searchRetrieve&query=cql.serverChoice=BHR9405&recordSchema=mods&version=1.1
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - text/xml
    body:
      encoding: UTF-8
      string: |
        <?xml version="1.0"?>
        <zs:searchRetrieveResponse xmlns:zs="http://www.loc.gov/zing[...]
