---
http_interactions:
- request:
    method: get
    uri: https://bibdata.princeton.edu/bibliographic/2028405
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Etag:
      - W/"5e9964ecee0bf5a5443426087368d492-gzip"
      Status:
      - 200 OK
      Content-Type:
      - application/xml; charset=utf-8
    body:
      encoding: ASCII-8BIT
      string: "<record xmlns='http://www.loc.gov/MARC21/slim'><leader>00671cam a22002171
        \ 4500</leader><controlfield tag='001'>2028405</controlfield><controlfield
        tag='008'>820521s1952    pau           000 0 eng  </controlfield><datafield
        ind1=' ' ind2=' ' tag='010'><subfield code='a'>   52060048 //r96 </subfield></datafield><datafield
        ind1=' ' ind2=' ' tag='035'><subfield code='a'>(OCoLC)ocm03384782</subfield></datafield><datafield
        ind1=' ' ind2=' ' tag='035'><subfield code='9'>CHP2843TS</subfield></datafield><datafield
        ind1=' ' ind2=' ' tag='040'><subfield code='a'>DLC</subfield><subfield code='c'>DLC</subfield><subfield
        code='d'>PUL</subfield></datafield><datafield ind1='0' ind2='0' tag='050'><subfield
        code='a'>BS70.M3</subfield><subfield code='b'>M5</subfield></datafield><datafield
        ind1='0' ind2='0' tag='082'><subfield code='a'>220.47</subfield></datafield><datafield
        ind1='1' ind2=' ' tag='100'><subfield code='a'>Miner, Dorothy Eugenia.</subfield></datafield><datafield
        ind1='1' ind2='4' tag='245'><subfield code='a'>The Giant Bible of Mainz;</subfield><subfield
        code='b'>500th anniversary, April fourth, fourteen fifty[...]
- request:
    method: get
    uri: https://bibdata.princeton.edu/bibliographic/2028405/jsonld
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Etag:
      - W/"7b2cec82e9248f31b764e03742643881"
      Status:
      - 200 OK
      Content-Type:
      - application/ld+json; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"@context":"http://bibdata.princeton.edu/context.json","@id":"http://bibdata.princeton.edu/bibliographic/2028405","title":{"@value":"The
        Giant Bible of Mainz; 500th anniversary, April fourth, fourteen fifty-two,
        April fourth, nineteen fifty-two.","@language":"eng"},"description":"31 p.
        21 cm.","language":"eng","creator":"Miner, Dorothy Eugenia","format":"Book","note":"Seal
        of the Library of Congress on t.p.","publisher":"[Philadelphia, 1952]","subject":"Giant
        Bible of Mainz","created":"1952-01-01T00:00:00Z","date":"1952"}'
  recorded_at: Fri, 26 Feb 2016 21:50:57 GMT
- request:
    method: get
    uri: http://bibdata.princeton.edu/context.json
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 302
      message: Found
    headers:
      Location:
      - https://bibdata.princeton.edu/context.json
      Content-Type:
      - text/html; charset=iso-8859-1
    body:
      encoding: UTF-8
      string: |
        <!DOCTYPE HTML PUBLIC "-//IETF//DTD HTML 2.0//EN">
        <html><head>
        <title>302 Found</title>
        </head><body>
        <h1>Found</h1>
        <p>The document has moved <a href="https://bibdata.princeton.edu/context.json">here</a>.</p>
        <hr>
        <address>Apache/2.4.7 (Ubuntu) Server at bibdata.princeton.edu Port 80</address>
        </body></html>
  recorded_at: Fri, 26 Feb 2016 21:50:57 GMT
- request:
    method: get
    uri: https://bibdata.princeton.edu/context.json
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Last-Modified:
      - Fri, 26 Feb 2016 21:17:40 GMT
      Etag:
      - '"3b9-52cb2d43b2500"'
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: |
        {
          "@context": {
            "id" : "@id",
            "dc": "http://purl.org/dc/elements/1.1/",
            "dcterms": "http://purl.org/dc/terms/",
            "rdf": "http://www.w3.org/1999/02/22-rdf-syntax-ns#",
            "rdfs": "http://www.w3.org/2000/01/rdf-schema#",

            "contributor": {"@id": "dc:contributor"},
            "coverage": {"@id": "dc:coverage"},
            "creator": {"@id": "dc:creator"},
            "date": {"@id": "dc:date"},
            "description": {"@id": "dc:description"},
            "format": {"@id": "dc:format"},
            "identifier": {"@id": "dc:identifier"},
            "language": {"@id": "dc:language"},
            "publisher": {"@id": "dc:publisher"},
            "relation": {"@id": "dc:relation"},
            "rights": {"@id": "dc:rights"},
            "source": {"@id": "dc:source"},
            "subject": {"@id": "dc:subject"},
            "title": {"@id": "dcterms:title"},
            "type": {"@id": "dc:type"},

            "created": {"@id": "dcterms:created"},
            "extent": {"@id": "dcterms:extent"},
            "modified": {"@id": "dcterms:modified"}
          }
        }
  recorded_at: Fri, 26 Feb 2016 21:50:58 GMT
[...]
- request:
    method: get
    uri: https://bibdata.princeton.edu/locations/digital_locations.json
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Etag:
      - W/"f06a9680ced1a46b023d86ab673cdf8a"
      Status:
      - 200 OK
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '[{"label":"Plasma Physics Library","address":"Forrestal Campus Princeton,
        NJ 08544","phone_number":"609-243-3565","contact_email":"ppllib@princeton.edu","gfa_pickup":"PQ","staff_only":false,"pickup_location":true,"digital_location":true,"url":"https://bibdata.princeton.edu/locations/delivery_locations/1.json","library":{"label":"Harold
        P. Furth Plasma Physics Library","code":"plasma"}},{"label":"Architecture
        Library","address":"School of Architecture Building, Second Floor Princeton,
        NJ 08544","phone_number":"609-258-3256","contact_email":"ues@princeton.edu","gfa_pickup":"PW","staff_only":false,"pickup_location":true,"digital_location":true,"url":"https://bibdata.princeton.edu/locations/delivery_locations/3.json","library":{"label":"Architecture
        Library","code":"architecture"}},[...]
