---
http_interactions:
- request:
    method: get
    uri: https://bibdata.princeton.edu/locations/digital_locations.json
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Etag:
      - W/"f06a9680ced1a46b023d86ab673cdf8a"
      Status:
      - 200 OK
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '[{"label":"Plasma Physics Library","address":"Forrestal Campus Princeton,
        NJ 08544","phone_number":"609-243-3565","contact_email":"ppllib@princeton.edu","gfa_pickup":"PQ","staff_only":false,"pickup_location":true,"digital_location":true,"url":"https://bibdata.princeton.edu/locations/delivery_locations/1.json","library":{"label":"Harold
        P. Furth Plasma Physics Library","code":"plasma"}},{"label":"Architecture
        Library","address":"School of Architecture Building, Second Floor Princeton,
        NJ 08544","phone_number":"609-258-3256","contact_email":"ues@princeton.edu","gfa_pickup":"PW","staff_only":false,"pickup_location":true,"digital_location":true,"url":"https://bibdata.princeton.edu/locations/delivery_locations/3.json","library":{"label":"Architecture
        Library","code":"architecture"}},[...]
- request:
    method: get
    uri: http://findingaids.princeton.edu/collections/badid.xml?scope=record
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 404
      message: Not Found
    headers:
      Content-Type:
      - application/xml;charset=ISO-8859-1
    body:
      encoding: UTF-8
      string: ''
  recorded_at: Wed, 27 Apr 2016 22:07:41 GMT
recorded_with: VCR 2.9.3
