---
http_interactions:
- request:
    method: get
    uri: http://dlib.indiana.edu:9000/iucatextract?maximumRecords=1&operation=searchRetrieve&query=cql.serverChoice=VAD5427&recordSchema=marcxml&version=1.1
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - text/xml
    body:
      encoding: UTF-8
      string: |
        <?xml version="1.0"?>
        <zs:searchRetrieveResponse xmlns:zs="http://www.loc.gov/zing/srw/"><zs:version>1.1</zs:version><zs:numberOfRecords>1</zs:numberOfRecords><zs:records><zs:record><zs:recordSchema>info:srw/schema/1/marcxml-v1.1</zs:recordSchema><zs:recordPacking>xml</zs:recordPacking><zs:recordData><record xmlns="http://www.loc.gov/MARC21/slim">
        <!-- Length implementation at offset 22 should hold a digit. Assuming 0 -->
          <leader>01340 cm a2200361I  4500</leader>
          <controlfield tag="001">ocm05815912</controlfield>
          <controlfield tag="003">OCoLC</controlfield>
          <controlfield tag="005">20150409175040.8</controlfield>
          <controlfield tag="008">791220nuuuuuuuunyuzza         n    ger d</controlfield>
          <datafield tag="035" ind1=" " ind2=" ">
            <subfield code="a">(OCoLC)ocm05815912</subfield>
          </datafield>
          <datafield tag="035" ind1=" " ind2=" ">
            <subfield code="a">(OCoLC)5815912</subfield>
          </datafield>
          <datafield tag="040" ind1=" " ind2=" ">
            <subfield code="a">ION</subfield>
            <subfield code="b">eng</subfield>
            <subfield code="c">ION</subfield>
            <subfield code="d">OCL</subfield>
            <subfield code="d">OCLCQ</subfield>
            <subfield code[...]
