---
http_interactions:
- request:
    method: get
    uri: https://findingaids.princeton.edu/collections/AC123/c00004.xml?scope=record
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Link:
      - "<https://findingaids.princeton.edu/_services/tree?record-id=AC123>;rel=contents,<https://findingaids.princeton.edu/collections/AC123>;rel=canonical"
      X-Exist-Id:
      - '2164'
      Last-Modified:
      - Tue, 21 Mar 2017 07:02:49 GMT
      Content-Type:
      - application/xml;charset=UTF-8
    body:
      encoding: UTF-8
      string: |-
        <c xmlns="urn:isbn:1-931666-22-9" xmlns:xlink="http://www.w3.org/1999/xlink" xmlns:pulfa="http://library.princeton.edu/pulfa" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" level="file" id="AC123_c00004">
            <pulfa:context>
                <pulfa:uri>https://findingaids.princeton.edu/collections/AC123/c00004</pulfa:uri>
                <pulfa:breadcrumbs>
                    <pulfa:crumb uri="https://findingaids.princeton.edu/collections/AC123/c00001" level="series">Series 1: University Librarian Records</pulfa:crumb>
                    <pulfa:crumb uri="https://findingaids.princeton.edu/collections/AC123/c00002" level="subseries">Subseries 1A, Frederic Vinton</pulfa:crumb>
                    <pulfa:crumb uri="https://findingaids.princeton.edu/collections/AC123/c00003" level="file">Correspondence</pulfa:crumb>
                </pulfa:breadcrumbs>
                <pulfa:collectionInfo>
                    <pulfa:ARK>http://arks.princeton.edu/ark:/88435/9s1616192</pulfa:ARK>
                    <pulfa:uri>https://findingaids.princeton.edu/collections/AC123</pulfa:uri>
                    <pulfa:collection-creators>
                        <corpname rules="rda" source="uncontrolled" role="cre"> Princeton University. Library. University Archives</corpname>
                    </pulfa:collection-creators>
                    <eadid countrycode="US" mainagencycode="US-NjP" url="http://arks.princeton.edu/ark:/88435/9s1616192" urn="ark:/88435/9s1616192">AC123</eadid>
                    <unittitle>Princeton University Library Records</unittitle>
                    <unitid type="collection" countrycode="US" repositorycode="US-NjP">AC123</unitid>
                    <unitdate normal="1734/2016" type="inclusive">1734-2016</unitdate>
                    <unitdate normal="1952/1995" type="bulk">1952-1995</unitdate>
                    <extent>465.22 linear feet</extent>
                    <extent>482 boxes, several hundred loose volumes, and 1 oversize drawer</extent>
                    <extent>Digital Folders: 49, Digital Files: 3,023</extent>
                </pulfa:collectionInfo>
                <pulfa:request type="single">AC123 box 1</pulfa:request>
            </pulfa:context>
            <did>
                <unittitle>19th Century Catalog and Correspondence, Pre-Vinton, 1811-</unittitle>
                <unitdate normal="1865-01-01T00:00:00Z/1865-12-31T23:59:59Z">circa 1865</unitdate>
                <unitdate normal="0001-01-01T00:00:00Z/0001-01-01T00:00:00Z">undated</unitdate>
                <langmaterial>
                    <language langcode="eng"/>
                </langmaterial>
                <physloc type="code">mudd</physloc>
                <repository id="univarchives">
                    <corpname source="viaf" authfilenumber="http://viaf.org/viaf/268919187">Princeton University. Library. Dept. of Rare Books and Special Collections.</corpname>
                    <subarea>Seeley G. Mudd Manuscript Library.</subarea>
                    <subarea>Princeton University Archives.</subarea>
                    <address>
                        <addressline>65 Olden Street</addressline>
                        <addressline>Princeton, New Jersey 08540 USA</addressline>
                    </address>
                </repository>
                <container type="box">1</container>
                <container type="folder">1</container>
                <physdesc>
                    <extent type="computed">1 folder</extent>
                </physdesc>
            </did>
            <scopecontent>
                <p>(Photocopies compiled from various collections)</p>
            </scopecontent>
            <accessrestrict type="closed">
                <p>Material older than 40 years that does not pertain to personnel issues is open for research use. Restrictions beyond 40 years have been noted in the relevant series descriptions and in the folder list.</p>
            </accessrestrict>
            <controlaccess/>
        </c>
  recorded_at: Tue, 21 Mar 2017 17:11:50 GMT
recorded_with: VCR 2.9.3
