<% if @presenter.respond_to? :in_collections %>
  <% if @presenter.in_collections.present? %>
    <tr>
      <th>Collections</th>
      <td>
        <% @presenter.in_collections.each do |col| %>
          <%= link_to col.title.first, main_app.collection_path(col), class: 'collection-link' %><br/>
        <% end %>
      </td>
    </tr>
  <% end %>
<% end %>
