<ul id="sortable" data-id="<%= @presenter.id %>" data-class-name="<%= @presenter.model_name.plural %>" data-singular-class-name="<%= @presenter.model_name.singular %>" class="list-unstyled grid clearfix">
  <div class="alert alert-success" role="alert">
    Reordered Successfully
  </div>
  <div class="alert alert-info" role="alert">
    Reordering...
  </div>
  <div class="alert alert-danger" role="alert">
    Reordering Failed. Please save again.
  </div>
 <% @presenter.file_presenters.each do |member| %>
   <%= render "file_manager_member", node: member %>
 <% end %>
</ul>
