      <div class="form-group radio_buttons member_resource_options">
        <span class="radio">
          <%= radio_button_tag "thumbnail_id", node.thumbnail_id, @presenter.thumbnail_id == node.thumbnail_id, id: "thumbnail_id_#{node.thumbnail_id}", class: "radio_buttons" %>
          <%= label_tag "thumbnail_id_#{node.thumbnail_id}", "Thumbnail" %>
        </span>
      </div>
      <div class="form-group radio_buttons member_resource_options">
        <span class="radio">
          <%= radio_button_tag "start_canvas", node.thumbnail_id, @presenter.start_canvas == node.thumbnail_id, id: "start_canvas_#{node.thumbnail_id}", class: "radio_buttons" %>
          <%= label_tag "start_canvas_#{node.thumbnail_id}", "Starting Page" %>
        </span>
      </div>
