<fieldset class="required">
  <legend>Required Information</legend>
  <%= f.input :source_metadata_identifier, label: 'Source Metadata ID',
              input_html: { class: 'mutex detect_duplicates',
                            data: { prefix: Rails.application.config.relative_url_root || '' } } %>
  <%= check_box_tag :refresh_remote_metadata, 1, false %>
  <label for="refresh_metadata">Refresh metadata from <%= t('services.metadata') %></label>
</fieldset>

<fieldset class="required">
  <%= f.input :title, as: :multi_value, readonly: f.object.source_metadata_identifier.present?, input_html: { class: 'mutex' } %>
</fieldset>
