<div class="row">
  <div class="col-md-6" id="required-information">
    <%= render "form_required_information", f: f %>
  </div>

  <div class="col-md-6" id="additional-information">
    <%= render "form_additional_information", f: f %>
  </div>
</div>
<div class="row">
  <div id="additional-metadata">
    <%= render "form_additional_metadata", f: f %>
  </div>
</div>
