<% if presenter.respond_to?(:member_presenters) && presenter.member_presenters.present? %>
  <div class="uv viewer" data-config="/uv_config.json" data-uri="<%= main_app.polymorphic_path([main_app,:manifest,presenter]) %>" ></div>
  <%= UniversalViewer.script_tag %>
<% else %>
  <%= image_tag 'nope.png', class: "canonical-image" %>
<% end %>
