<% provide :page_title, curation_concern_page_title(curation_concern) %>
<% provide :page_header do %>
  <h2>Describe Your Thing<%#= curation_concern.human_readable_type %></h2>
<% end %>

<%= render 'form' %>
