<% if @presenter.file_presenters.present? %>
  <div class="panel panel-default scanned_resources">
    <div class="panel-heading">
      <h2>Scanned Resources</h2>
    </div>
    <table class="table">
      <thead>
        <tr>
          <th class="col-xs-3"></th>
          <th>Scanned Resource</th>
        </tr>
      </thead>
      <tbody>
        <% @presenter.file_presenters.each do |res| %>
          <tr>
            <td class="col-xs-3"><%= render_thumbnail_tag res %></td>
            <td>
              <%= @presenter.link_child res %>
            </td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>
<% elsif can? :edit, @presenter.id %>
  <h2>Scanned Resources</h2>
  <p class="center"><em>This <%= @presenter.human_readable_type %> has no scanned resources associated with it. You can add one using the "Attach a Scanned Resource" button below.</em></p>
<% end %>
