<footer id="footer" role="contentinfo" itemscope="itemscope" itemtype="http://schema.org/CollegeOrUniversity">
    <div class="row pad">

        <p class="tagline">Fulfilling <span>the</span> Promise</p>

        <p class="signature">
            <a href="https://www.iu.edu" class="signature-link">Indiana University</a>
        </p>

        <p class="copyright">
            <a href="https://www.iu.edu/copyright/index.html" title="Copyright">Copyright</a> &#169; 2016 <span class="line-break">The Trustees of <a href="https://www.iu.edu/" title="Indiana University" itemprop="url"><span itemprop="name">Indiana University</span></a></span> | <span class="line-break"><a href="/privacy" id="privacy-policy-link" title="Privacy Policy">Privacy Notice</a></span>
        </p>
    </div>
</footer>