<h1>Editing Vocabulary Collection</h1>

<%= render 'form', vocabulary_collection: @vocabulary_collection %>

<%= link_to 'Show', @vocabulary_collection %> |
<%= link_to 'Back', vocabulary_collections_path %>
