<p><%= @message %></p>

<table>
  <tr>
    <th>ID</th>
    <td><%= @work_id %></td>
  </tr>
  <tr>
    <th>Title</th>
    <td><%= @title %></td>
  </tr>
  <tr>
    <th>URL</th>
    <td><%= link_to @url, @url %></td>
  </tr>
</table>
