<% if can? :create, klass %>
  <li class="work-type work-type-<%= klass %>">
    <h4 class="title"><%= klass.human_readable_type %></h4>
    <%= content_tag(:div, nil, class: ['work-icon', "icon-#{klass.human_readable_type.downcase.gsub(' ','-')}"]) %>
    <%= link_to 'Add New',
      main_app.new_polymorphic_path([klass]),
      class: "add-button btn btn-primary #{dom_class(klass, 'add_new')}"
    %>
  </li>
<% end %>
