<li class="ui-state-default col-xs-3" data-reorder-id='<%= member.id %>'>
  <div class="panel panel-default">
    <div class="panel-heading"><%= member.to_s %></div>
    <div class="panel-body">
      <%= render_thumbnail_tag member %>
    </div>
  </div>
</li>
