<% if work.generic_file_ids.present? %>
  <div class="viewer" data-manifest="<%= main_app.curation_concerns_scanned_resource_manifest_path(id: work.id) %>"></div>
<% else %>
  <%= image_tag 'nope.png', class: "canonical-image" %>
<% end %>

