  <div class="well">
    <%= form_tag polymorphic_path([main_app, :browse_everything_files, :curation_concerns, @presenter]), id: "browse-everything-form" do %>
      <%= button_tag type: 'button', class: 'browse-everything btn btn-primary' do %>
        Upload from Server
      <% end %>
    <% end %>
    <% if @presenter.pending_uploads.present? %>
      <%= render "pending_uploads", uploads: @presenter.pending_uploads %>
    <% end %>
  </div>
