<h1><%= t("headers.reorder_children") %></h1>
<div class="flash-message">
  <div class="container">
    <div class="col-md-12">
      <div class="alert alert-success ui-corner-all alert-dismissable hidden" data-reorder-action="flash">
        <a class="close" href="#">×</a>
        <span class="text">
        </span>
      </div>
    </div>
  </div>
</div>
<div class="row" id="reorder-actions">
  <div class="col-xs-2">
    <button type="button" class="btn btn-primary disabled" data-reorder-action="persist">Save Reorder</button>
    <%= link_to "Back to Parent", polymorphic_path([main_app, @presenter]), class: "btn btn-default" %>
  </div>
  <div class="col-xs-10">
    <ul id="sortable" data-id="<%= @presenter.id %>" class="list-unstyled">
      <% @members.each do |member| %>
        <%= render "member", member: member %>
      <% end %>
    </ul>
  </div>
</div>
