*[data-action=bulk-label] {
  .actions {
    border: 1px solid black;
    padding: 5px;
    .form-group div {
      padding-left: 0;
    }
  }
  ul {
    list-style-type: none;
    &.grid li {
      @extend .col-xs-4;
      .thumbnail {
        @extend .col-xs-12;
      }
      .spacer {
        @extend .col-xs-12;
      }
      .attributes {
        @extend .col-xs-12;
      }
    }
    li {
      @extend .col-xs-12;
      .text {
        display: inline-block;
      }
      .thumbnail {
        @extend .col-xs-3;
      }
      .spacer {
        @extend .col-xs-3;
      }
      .attributes {
        @extend .col-xs-6;
      }
      .ui-selecting .panel-body {
        background: #FECA40;
      }
      .ui-selected .panel-body {
        background: #F39814;
      }
    }
  }
}
