dl.document-metadata {
  ul {
    list-style: none;
    padding-left: 0;
  }
}
#documents .document {
  > .btn-group {
    float: right;
  }
  > .document-metadata {
    width: 60%;
  }
  > .document-thumbnail {
    padding-left: 0;
  }
}
