.file_set_viewing_hint {
  input.radio_buttons {
    height: auto;
    margin-left: 0;
    box-shadow: none;
  }
}
#reorder-actions {
  .btn {
    margin-top: 10px;
  }
  .btn:first-child {
    margin-top: 0;
  }
}
