.viewer {
  height: 400px;
  iframe {
    position: absolute;
  }
}
#viewer-modal {
  .modal-content {
    padding: 20px;
  }
  picture {
    background-color: rgb(46,46,46);
  }
  button.close {
    margin-bottom: 10px;
  }
}
