<div class="panel panel-default permissions-confirm">
  <div class="panel-heading">
    <h4>Apply changes to attached volumes?<h4>
  </div>
  <div class="panel-body">
    <p>You have changed the state of work <i><%= curation_concern %></i></p>
    <p>Would you like to change the state of all of the attached volumes to have the same state?</p>
  </div>
  <div class="form-actions panel-footer">
    <%= button_to "Yes, update them", main_app.copy_state_hyrax_confirm_path(@curation_concern), class: 'btn btn-primary' %>
    <%= link_to "No, I'll update them manually", [main_app, @curation_concern], class: 'btn' %>
  </div>
</div>
