@import "variables/colors";
@import "variables/typography";

$navbar-default-bg: $light-gray;

$font-family-sans-serif: $font-sans;
$font-family-serif: $font-serif;
$bootstrap-sass-asset-helper: true;
@import 'bootstrap/variables';
@import 'bootstrap/mixins';
@import 'hyrax/hyrax';

body {
    padding: 0;
}

li.attribute {
    list-style-type: none;
}
ul.tabular {
    padding-left: 0;
}
