<% if curation_concern.new_record? %>
  <%= StateBadge.new(curation_concern.class.to_s).render_hidden %>
<% else %>
  <fieldset id="set-state">
    <legend>State</legend>
    <div class="form-group">
      <%= StateBadge.new(curation_concern.class.to_s, curation_concern.state).render_buttons %>
    </div>
  </fieldset>
<% end %>
