<tr>
  <th>Member of Collections</th>
  <td>
    <ul class="member_of_collections">
      <% presenter.member_of_collection_presenters.each do |p| %>
        <li><%= link_to p.to_s, polymorphic_path([main_app, p]), class: 'collection-link' %></li>
      <% end %>
    </ul>
  </td>
</tr>
