<% if can?(:manifest, presenter) && presenter.respond_to?(:member_presenters) && presenter.member_presenters.present? && @manifest.present? %>
  <div class="uv viewer" data-config="/uv_config.json" data-uri="<%= @manifest_uri %>" ></div>
  <%= PulUvRails::UniversalViewer.script_tag %>
<% else %>
  <%= image_tag 'nope.png', class: "canonical-image" %>
<% end %>
